{{ define "body" }}
<div class="jumbotron">
<center>
<h2>
	About me!<br/><br/>
</h2>
<div class="container">
	<img class="fixed-size" src="/static/img/johnnydiabetic.png">
	<br/><small>(this is me)</small>
	<br/>
</center>
<div class="container">
	<p class="reg-text">I am johnnydiabetic. I like programming in Golang and Python in my spare time. 
	I have done some work on an open source project called <a href="https://github.com/oleiade/trousseau">trousseau</a> and other
	small projects for fun. My hobbies include computers, reading and cooking.
	</p>

	<p class="reg-text">I had a website here a few months back written in Python with Django. I decided to take it down and focus on writing
	the site in Go for a number of reasons. One, I have been enjoying writing Go code, and would like to continue doing spare time projects
	in Go. Two, the administration of Go is easier than Django. And three, writing webapps in Go requires you to learn more about what is going
	on. This is important to me.
	</p>
</div><br/>
<center>	
<img class="fixed-size" src="/static/img/julia.png">
	<br/><small>(this is my wife)</small>
	<br/>
</center>
	<div class="container">	
<p class="reg-text">I am married to a wonderful woman named Julia. Her favorite things in the world are gymnastics, family television
shows and chili.
</p>

<p class="reg-text">So, please, enjoy the (very bare) site and feel free to drop me an email: johnnydiabetic (at) gmail (dot) com.
</p>
	</div>
</div>
</div>
<br/>
{{ end }}
